{{#if isAuthenticated}}
   {{#if isShortcutsEnabled}}<button data-action="shortcuts" class="btn btn-invisible" aria-label="{{str "LBL_SHORTCUTS"}}" role="link"><i class="fa fa-keyboard-o"></i><span class="action-label">  {{str "LBL_SHORTCUTS"}}</span></button>{{/if}}
   <button data-action="feedback" class="btn btn-invisible" role="link"><i class="far fa-comment"></i><span class="action-label"> {{str "LBL_FEEDBACK"}}</span></button>
   <button data-action="help" data-modal="help" class="btn btn-invisible" aria-pressed="false" role="link"><i class="fa fa-question-circle"></i><span class="action-label"> {{str "LBL_HELP"}}</span></button>
{{/if}}
