<div class="btn-group hide" data-toggle="buttons-checkbox">
    <a href="#{{buildRoute model=model}}" class="btn btn-mini"><i class="fa fa-list-alt"></i></a>
    <a href="#{{buildRoute model=model action="edit"}}" class="btn btn-mini"><i class="fa fa-pencil"></i></a>
    <a href="#{{buildRoute model=model action="delete"}}" class="btn btn-mini"><i class="far fa-trash-alt"></i></a>
</div>
