<div class="label label-module label-{{module}} pull-left">{{moduleIconLabel module}}</div> <h4 class="pull-left">{{str layout.label parentModule}}</h4>
{{#each meta.fields}}
    <span class="pull-left panel-field">
        {{field ../this model=../model}}
    </span>
{{/each}}
<div class="subpanel-controls btn-toolbar pull-right">
</div>
