<div>
    {{#if enableHeaderPane}}
        {{partial 'headerpane' ../this ../this}}
    {{/if}}

    {{#if meta.useTabsAndPanels}}
        {{partial 'tabspanels' ../this ../this}}
    {{else}}
        {{partial 'businesscard' ../this ../this}}
    {{/if}}
</div>
