{{#if def.text}}
    <label>
{{/if}}
<input type="checkbox"{{#eq action 'disabled'}} disabled{{/eq}}{{#if value}} checked{{/if}}{{#if def.tabindex}} tabindex="{{def.tabindex}}"{{/if}}>
{{#if def.text}}
    {{str def.text this.module}}</label>
{{/if}}
{{#unless hideHelp}}{{#if def.help}}<p class="help-block">{{str def.help module}}</p>{{/if}}{{/unless}}
