<link type="text/css" href="modules/pmse_Business_Rules/css/businessrules.css" rel="stylesheet" />

<div id="businessrulecontainer">
    <div id="businessruleheader">
        <span class="brTitle">&nbsp;</span><span class="brSeparator">|</span><span class="brModule"></span>
    </div>
    <div id="businessruledesigner"></div>
</div>
