<tr class="decision-table-row">
    <td class="row-index">
        <span class="index">{{index}}</span>
    </td>
    <td class="checkbox-td ui-sortable-handle">
        <span class="checkbox-index">
            <input type="checkbox" class="checkbox-input">
        </span>
    </td>
    <td id="conditions"></td>
    <td class="table-split"></td>
    <td id="conclusions"></td>
    <td></td>
</tr>
