<td class="decision-table-condition-column">
    <table>
        <tr>
            <td id="operator" class="decision-table-operator">
                <span tabindex="0">{{{operator}}}</span>
            </td>
            <td id="value"></td>
        </tr>
    </table>
</td>