{{!

}}
<div class="omnibar-dashlet hide"></div>
<ul class="activitystream-list results"></ul>
<div class="block-footer {{#unless collection.length}}hide{{/unless}}">
    {{str "LBL_NO_DATA_AVAILABLE"}}
</div>
