{{#each meta.panels}}
<table class="table table-striped dataTable">
    <thead>
        {{partial 'row-header' ../this view=../this fields=fields}}
    </thead>
    <tbody>
        {{#each ../collection.models}}
            {{partial 'row' ../../this view=../../this model=this module=this.module fields=../fields}}
        {{/each}}
    </tbody>
</table>
{{/each}}
