<h1>{{str 'LBL_SWEETSPOT_CONFIG_HOTKEYS'}}</h1>
<table class="table table-striped table-bordered">
    <thead>
    <tr>
        <th class="span5">{{str 'LBL_SWEETSPOT_ACTION'}}</th>
        <th class="span5">{{str 'LBL_SWEETSPOT_KEY'}}</th>
        <th class="span1"></th>
    </tr>
    </thead>
    <tbody data-sweetspot="actions"></tbody>
</table>
