<span data-action="toggle"
      class="label{{#unless this.model.attributes.is_read}} label-inverse{{/unless}}"
        >{{#if this.model.attributes.is_read}}{{str 'LBL_READ' this.module}}{{else}}{{str 'LBL_UNREAD' this.module}}{{/if}}</span>
