<div class="btn-toolbar pull-left" id="forecastsTree">
    <div class="btn-group">
        <a class="dropdown-toggle btn btn-invisible" data-toggle="dropdown" href="#">
            <i class="fa fa-angle-down"></i>
        </a>
        <ul class="dropdown-menu carettop">
            <li>
                <div id="people" class="jstree-dotb" id="forecasts-jstree"></div>
            </li>
        </ul>
    </div>
</div>
