{{#each meta.panels}}
<table class="table table-striped dataTable">
    <thead>
        {{partial 'row-header' ../../this view=../../this}}
    </thead>
    <tbody>
        {{#each ../collection.models}}
            {{partial 'row' ../../this view=../../this}}
        {{/each}}
    </tbody>
    <tfoot>
        {{partial 'row-footer' ../../this view=../../this}}
    </tfoot>
</table>
{{/each}}
