<div>
    {{#if enableHeaderPane}}
        {{partial 'case-headerpane' ../this view=../this}}
    {{/if}}
    {{#if meta.useTabsAndPanels}}
        {{partial 'case-tabspanels' ../this view=../this}}
    {{else}}
        {{partial 'case-businesscard' ../this view=../this}}
    {{/if}}
</div>

<link type="text/css" href="modules/pmse_Project/css/jcore.libraries.css" rel="stylesheet" />
<link type="text/css" href="modules/pmse_Project/css/jcore.adam-ui.css" rel="stylesheet" />
<link type="text/css" href="modules/pmse_Project/css/jcore.adam.css" rel="stylesheet" />
<link type="text/css" href="modules/pmse_Project/css/pmse.css" rel="stylesheet" />
