<div class="filter-body" data-filter="row">
    <div class="row-fluid">
        <div class="controls span4" data-filter="field"></div>
        <div class="hide controls span4" data-filter="operator"></div>
        <div class="hide controls span4" data-filter="value"></div>
        <div class="filter-actions btn-group">
            <button data-action="remove" class="btn btn-invisible btn-dark"><i class="fa fa-minus"></i></button>
            <button data-action="add" class="btn btn-invisible btn-dark"><i class="far fa-plus"></i></button>
        </div>
    </div>
</div>
