<ul class="nav megamenu" role="navigation" aria-label="{{str 'LBL_ARIA_MODULENAVIGATION' module}}" data-container="module-list">
    <li class="dropdown hidden more" data-action="more-modules">
        <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-invisible dropdown-toggle" title="{{str 'LBL_LINK_MORE'}}" track="click:navbar-more-modules" aria-label="{{str 'LBL_MORE_MODULES'}}"><i style="color:white;" class="fa fa-ellipsis-v"></i></button>
            <div class="dropdown-menu scroll" role="menu">
                <ul data-container="overflow"></ul>
            </div>
        </div>
    </li>
</ul>
