<a href="javascript:void(0)" tabindex="0" class="btn btn-link btn-invisible advanced" aria-label="{{str 'LBL_GLOBAL_SEARCH_RUN' module}}" data-action="search_icon">
    <i class="fa fa-search"></i>
</a>
