<div class="inline-drawer">
    <article class="inline-drawer-header row-fluid">
        <div class="span12">
            <input type="text"
                   data-searchfield="true"
                   placeholder="{{str 'LBL_SEARCH_BY' this.module}}"
                   class="span4 search"
                   value="{{searchTerm}}">
        </div>
    </article>
</div>
