{{#if showMarketingContent}}
<img class="coffee-cup" src="{{buildUrl url='include/images/coffeeCup-dotb-sm.png'}}">
<div class="iframe-container">
    <iframe src="{{marketingContentUrl}}" scrolling="no"></iframe>
</div>
{{/if}}
