<ul class="nav megamenu" >
    <li class="dropdown" id="createList">
        <div class="btn-group">
            <button data-toggle="dropdown" role="button" type="button" class="btn btn-invisible btn-link dropdown-toggle" rel="tooltip" data-placement="left" title="{{str "LBL_QUICK_CREATE_TITLE"}}" track="click:quickCreate" aria-label="{{str 'LBL_QUICK_CREATE_MENU'}}"><i class="far fa-plus fa-md"></i></button>
            <div class="dropdown-menu scroll pull-right" role="menu">
                <ul>
                    {{#each createMenuItems}}
                        <li>{{field ../this model=model template=../this.action}}</li>
                    {{/each}}
                </ul>
            </div>
        </div>
    </li>
</ul>
