{{#each value}}
<div class="control-group teamset">
    {{name}} {{name_2}} {{#if primary}}<label>({{str "LBL_COLLECTION_PRIMARY"}})</label>{{/if}}
    {{partial 'label-selected' ../this this}}
</div>
{{/each}}
