<span class="label"
    rel="tooltip"
    data-placement="bottom"
    title="{{str 'LBL_VALUE_ERASED_TOOLTIP' this.module}}{{#if href}}. {{str 'LBL_FOLLOW_LINK' this.module}}{{/if}}">
    {{partial 'hyperlink-label' this href=href labelName="LBL_VALUE_ERASED" moduleName=this.module}}
</span>
