<div class="compose-sender-options">
	<div class="btn-group">
		<a type="button" class="btn" data-toggle-field="cc_addresses" tabindex="-1"><span class="text">{{str "LBL_CC_BUTTON" this.module}}</span></a>
		<a type="button" class="btn" data-toggle-field="bcc_addresses" tabindex="-1"><span class="text">{{str "LBL_BCC_BUTTON" this.module}}</span></a>
	</div>
</div>
