<div class="page-header">
    <p class="lead">Date Field driven by jQuery datetime picker plugin</p>
</div>
<div class="description">
    <p>See the <a href="#Styleguide/docs/forms-datetime">documentation page</a> for implementation details for the date and datetimecombo fields.</p>
</div>
