<div class="quote-footer-item {{css_class}}">
    <span class="quote-footer-label">{{label}}</span>
    <span class="quote-footer-value">
        <span class="label">
            {{partial 'hyperlink-label' this href=href labelName="LBL_NO_FIELD_ACCESS" moduleName=this.module}}
        </span>
    </span>
</div>
