<div class="noaccess">
    <div class="record-label quote-totals-row-label">{{label}}</div>
    <div class="quote-totals-row-value">
        <span class="label">
            {{partial 'hyperlink-label' this href=href labelName="LBL_NO_FIELD_ACCESS" moduleName=this.module}}
        </span>
    </div>
</div>
