<div class="record-cell">
  <h1>{{{page.title}}}</h1>
</div>
<div class="record-cell pull-right">
  <div class="btn-toolbar">
    <span class="list-headerpane">
      <select name="sections" id="find_patterns" class="select2 search" data-placeholder="Search styleguide&hellip;">
        <option></option>
      </select>
    </span>
  </div>
</div>
