<!--Add by Tuan Anh-->
<div class="alert {{alertClass}}" style="margin-top: 20%;text-align: center;min-height: 0;padding: 0px 35px;border-color: #19305930;border-radius: 5px;margin-top:15%;background-color: #19305930;">
    <strong style="color: #08A69E;font-weight: bold;">
        <svg style="display: initial;width: 70px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"
             preserveAspectRatio="xMidYMid" class="lds-ellipsis"><!--circle(cx="16",cy="50",r="10")-->
            <circle cx="84" cy="50" r="0" fill="#08A69E">
                <animate attributeName="r" values="10;0;0;0;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.5s" repeatCount="indefinite" begin="0s"></animate>
                <animate attributeName="cx" values="84;84;84;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.5s" repeatCount="indefinite" begin="0s"></animate>
            </circle>
            <circle cx="49.6734" cy="50" r="10" fill="#2fc36a">
                <animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.5s" repeatCount="indefinite" begin="-0.75s"></animate>
                <animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.5s" repeatCount="indefinite" begin="-0.75s"></animate>
            </circle>
            <circle cx="16" cy="50" r="9.90393" fill="#16325C">
                <animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.5s" repeatCount="indefinite" begin="-0.375s"></animate>
                <animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.5s" repeatCount="indefinite" begin="-0.375s"></animate>
            </circle>
            <circle cx="84" cy="50" r="0.0960712" fill="#00A1E0">
                <animate attributeName="r" values="0;10;10;10;0" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.5s" repeatCount="indefinite" begin="0s"></animate>
                <animate attributeName="cx" values="16;16;50;84;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.5s" repeatCount="indefinite" begin="0s"></animate>
            </circle>
            <circle cx="83.6734" cy="50" r="10" fill="#08A69E">
                <animate attributeName="r" values="0;0;10;10;10" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.5s" repeatCount="indefinite" begin="0s"></animate>
                <animate attributeName="cx" values="16;16;16;50;84" keyTimes="0;0.25;0.5;0.75;1" keySplines="0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1;0 0.5 0.5 1" calcMode="spline" dur="1.5s" repeatCount="indefinite" begin="0s"></animate>
            </circle>
        </svg>
    </strong>
</div>
