<div class="search-filter">
    <div class="control-group">
        <div class="filter controls controls-two btn-group-fit">
            <div class="filter-view search" data-container="filter-view-search">
                <div class="full-width">
                    <input type="text" data-name="search" class="search-name" placeholder="{{str 'LBL_SEARCH_TREE' this.module}}">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-content">
    <div class="tree-block nested-set-full"></div>
</div>
