<div class="dashlet-options">
    <div class="row-fluid">
        {{#if settings.attributes.date}}
            <div class="btn-group dashlet-group" data-toggle="buttons-radio">
                <button class="btn{{#eq settings.attributes.date "true"}} active{{/eq}}" value="true" data-action="date-switcher" aria-pressed="{{#eq settings.attributes.date "true"}}true{{else}}false{{/eq}}">{{str "LBL_PMSE_LABEL_CURRENT" this.module}}</button>
                <button class="btn{{#eq settings.attributes.date "false"}} active{{/eq}}" value="false" data-action="date-switcher" aria-pressed="{{#eq settings.attributes.date "false"}}true{{else}}false{{/eq}}">{{str "LBL_PMSE_LABEL_OVERDUE" this.module}}</button>
            </div>
        {{/if}}
    </div>
</div>
