{{#if value}}
    {{#with value}}
        <div class="ellipsis_inline"
             data-placement="bottom"
             data-container="body"
             data-original-title="{{name}}">
            {{name}}
        </div>
    {{/with}}
{{/if}}
