<div class="compose-recipient-options">
    <div class="btn-group">
        <button type="button" class="btn" data-toggle-field="cc_collection"><span class="text">{{str "LBL_CC_BUTTON" this.module}}</span></button>
        <button type="button" class="btn" data-toggle-field="bcc_collection"><span class="text">{{str "LBL_BCC_BUTTON" this.module}}</span></button>
    </div>
</div>
