<div class="row-fluid">
    <div class="block filtered tabbable">
        <ul class="nav search-results">
            {{#if collection.dataFetched}}
                {{#if collection.models}}
                    {{#each collection.models}}
                        <li class="search-result" data-id="{{attributes.id}}">
                            {{partial 'row' ../../this view=../../this model=this module=module}}
                        </li>
                    {{/each}}
                {{else}}
                    <li class="no-results">{{str "LNK_SEARCH_NO_RESULTS"}}</li>
                {{/if}}
            {{/if}}
        </ul>
    </div>
</div>
