<input type="hidden" name="{{name}}" class="select2 inherit-width" value="{{value}}" data-id="{{fieldValue this.model this.def.id_name}}">
{{#unless hideHelp}}{{#if def.help}}<p class="help-block">{{str def.help module}}</p>{{/if}}{{/unless}}
