<input id='list_balance' type='hidden' value='' name='list_balance'>
<div id="payment_list_div">
    <table id="tblpayment" width="100%" border="1" class="list view">
        <thead>
            <tr>
                <th width="5%" style="text-align: center;"></th>
                <th width="10%" style="text-align: center;">Balance</th>
                <th width="10%" style="text-align: center;">Product</th>
                <th width="5%" style="text-align: center;">Type</th>
                <th width="5%" style="text-align: center;">Use Type</th>
                <th width="5%" style="text-align: center;">Unit</th>
                <th width="10%" style="text-align: center;">Total amount</th>
                <th width="10%" style="text-align: center;">Remain amount</th>
                <th width="10%" style="text-align: center;">Total quantity</th>
                <th width="10%" style="text-align: center;">Remain quantity</th>
                <th width="10%" style="text-align: center;">Limit quantity</th>
            </tr>
        </thead>
        <tbody id="tbodypayment">
            <tr><td colspan="11" style="text-align: center;">No Balance</td></tr>
        </tbody>
    </table>
</div>