    <span class="quote-footer-label" style="float:right">
        <span> {{cr_fm model.attributes.discount_percent 0 2}}% <span style="margin:0 5px;">|</span>
        {{cr_fm model.attributes.discount_amount 0 0}}
        </span>
     </span>
