    <span class="quote-footer-label">
        <a href="javascript:void(0);" class="rowaction  btn {{def.css_class}}" >
        <span> {{cr_fm model.attributes.discount_percent 0 2}}% <span style="margin:0 5px;">|</span>
        {{cr_fm model.attributes.discount_amount 0 0}}
        </span>
             <i class="fas fa-gifts" tabindex="-1"></i>
         </a>
     </span>
{{!--     <span class="quote-footer-value" style="display: inline-flex;justify-content: flex-end;"> --}}
{{!--     {{#each fields}} --}}
{{!--         {{placeholder}}{{#if def.percent}}% <span style="margin:0 10px;">|</span> {{/if}} --}}
{{!--     {{/each}} --}}
{{!--     </span> --}}
