<style type="text/css">
    html, body {
        /*height: 100%;*/
        margin: 0;
        padding: 0;
        background: url(styleguide/less/images/background-mask-20.png) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-position: center bottom;
    }

    #content {
        position: inherit;
        width: 100%;
        height: 100%;
    }

    #footer {
        display: none;
    }

    .login {
        background: #e7f2fdb8;
        margin: 0% auto !important;
        padding: 10px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    @media (max-width: 768px){
        .login{
            width:90% !important;
        }
    }
</style>
<div class="container">
    <div class="row">
        <div class="span3"></div>
        <div class="span6 login">
            <div class="tcenter" style="margin-bottom: 20px">
                <h2 class="brand"><img style="width:40%;" src="{{logoUrl}}" alt="DotBCRM"></h2>
            </div>
            <form name='{{name}}' class="tcenter">
                {{#if _showResult}}
                    <div class="alert alert-{{#if _showSuccess}}success{{else}}error{{/if}} tleft">
                        <p>{{str resultLabel}}</p>
                    </div>
                {{/if}}
                <div class="control-group">
                    <input type="text" name="email" placeholder="(Required) Email"
                           style="height: 33px;line-height: 33px;font-size: 16px;width: 80%;margin-left:0%"/>
                </div>
                <div class="control-group">
                    <input type="text" name="username" placeholder="(Required) User Name"
                           style="height: 33px;line-height: 33px;font-size: 16px;width: 80%;margin-left:0%"/>
                </div>
                <p class="help-block">
                    <br/>
                    <a role="button" style="font-size:16px;margin-top:20px" name="cancel_button">Log In</a>
                    <br/>
                </p>
                <div style="text-algin:center;margin-top: 20px">
                    <a class="btn btn-primary" role="button" name="forgotPassword_button"
                       style="font-size: 16px;padding-top: 10px;padding-bottom: 10px;width: 82%;margin-left:0%">Request
                        Password</a>
                </div>
            </form>
            <div class="pull-right"><small>Powered by <a href="https://dotb.vn">DotB.vn</a></small></div>
        </div>
        <div class="span3"></div>
    </div>
</div>