<button type="button" class="btn btn-invisible sidebar-toggle"
   rel="tooltip"
   title="{{str 'LBL_SIDEPANE_TOGGLE' module}}"
   data-placement="{{dataPlacement}}"
   track="click:togglesidebar" aria-label="{{ariaLabel}}">
    <i class="fa {{iconClass}}"></i>
</button>
