
.bad {
background-position:center center;
background-image:url(../../index.php?entryPoint=getImage&imageName=no.gif);
background-repeat:no-repeat;
border:none;
height:12px;
margin:0pt;
padding:0pt;
width:18px;
}
.good {
background-position:center center;
background-repeat:no-repeat;
background-image:url(../../index.php?entryPoint=getImage&imageName=yes.gif);
border:none;
height:12px;
margin:0pt;
padding:0pt;
width:18px;	
}