{{#each meta.fields}}
<td class="span5">{{field ../this model=../model template=../action}}</td>
{{/each}}
<td class="span1 hotkey-controls">
    <div class="btn-group">
        <button data-action="remove" class="btn btn-invisible btn-dark"><i class="fa fa-minus"></i></button>
        <button data-action="add" class="btn btn-invisible btn-dark"><i class="far fa-plus"></i></button>
    </div>
</td>
