<h1>{{str "LBL_PREVIEW"}}</h1>
<div class="btn-toolbar pull-right">
    <div class="btn-group">
        <a class="btn btn-invisible closeSubdetail" data-toggle="tab"><i class="fa fa-times"></i></a>
    </div>
</div>
