{{#with rowModel}}
    <tr class="single">
        {{#each ../metaFields}}
            <td{{#if align}} class="{{align}}"{{/if}}>{{field ../../this model=../this template=../../viewName}}</td>
        {{/each}}
    </tr>
{{/with}}
