{{!--
/*
 * @author Emil Kilhage <emil.kilhage@addoptify.com>
 */
--}}
<div class="block-footer">
    <a href="#DRI_Workflows/layout/configuration">
        {{str 'LBL_CUSTOMER_JOURNEY_INVALID_LICENSE' module}}
    </a>
</div>
