<div>
    {{#if enableHeaderPane}}
        {{partial 'headerpane' ../this view=../this}}
    {{/if}}


    {{#if meta.useTabsAndPanels}}
        {{partial 'tabspanels' ../this view=../this}}
    {{else}}
        {{partial 'tabspanels' ../this view=../this}}
    {{/if}}
</div>
