<div class="dashlet empty" data-action="addDashlet">
    <p>{{fieldOfType 'dotb-dashlet-label' 'LBL_DASHLET_ADD'}}</p>
    <div class="add-dashlet"><strong><i class="far fa-plus"></i></strong></div>
</div>
