<div class="search-filter">
    <div class="control-group">
        <div class="filter">
            <div class="filter-view search">
                <input id="{{cid}}" class="select2 search-filter" type="hidden">
            </div>
        </div>
    </div>
</div>
