<div class="input-append jdate">
    <div class="date-wrapper">
        <input type="text" data-type="jdate" name="{{name}}" value="{{value}}" placeholder="{{fieldPlaceholder}}"/>
        <span class="add-on"><i class="far fa-calendar"></i></span>
    </div>
</div>