<div class="control-group dashlet-options">
    <div class="controls{{#if isManager}} controls-two btn-group-fit{{/if}}">
        <div class="row-fluid">
            <div class="span6 groupByOptions">
                {{#with dashletConfig.group_by}}
                    {{field ../this model=../this.values}}
                {{/with}}
            </div>
            {{#if dashletConfig.show_dataset}}
            <div class="span6">
                {{#with dashletConfig.dataset}}
                    {{field ../this model=../this.values}}
                {{/with}}
            </div>
            {{/if}}
        </div>
    </div>
</div>
{{#with dashletConfig.chart}}
    {{field ../this model=../this.values}}
{{/with}}

