{{#each meta.panels}}
    <fieldset style="margin-left: 20px; margin-top: 70px;">

    {{#each fields}}
            <div class="span12 controls">
            {{field ../../this}}
        </div>
    {{/each}}
    </fieldset>

{{/each}}
