<div class="inputwrapper">
    <div contenteditable="true" class="sayit taggable" data-attachable="true"
         data-placeholder="{{str "LBL_ACTIVITYSTREAM_POST_PLACEHOLDER"}}" >
    </div>
    <div class="inputactions">
        <button class="pull-right btn btn-primary addPost disabled" tabindex="-1" aria-disabled="true" track="click:addPost">{{str 'LBL_SUBMIT_BUTTON_LABEL'}}</button>
    </div>
</div>
