<div {{#if seriesValue}}class="series-adjust"{{/if}}>
    {{#if groupValue}}
        <div class="ellipsis_inline">
            <span class="record-label">{{groupName}}</span>
            <span>{{groupValue}}</span>
        </div>
    {{/if}}
    {{#if seriesValue}}
        <div class="ellipsis_inline">
            <span class="record-label">{{seriesName}}</span>
            <span>{{seriesValue}}</span>
        </div>
    {{/if}}
</div>
