{{#if showMore}}
<li data-sweetaction="true">
  <a href="{{searchRoute}}" data-route="{{searchRoute}}" data-showmore="true" track="click:sweetspot-action-showmore">
    <div class="result-text">
      <div class="result-name">{{str 'LNK_SEARCH_FTS_VIEW_ALL'}}&hellip;</div>
    </div>
    <i class="fa fa-bars sweetspot-icon result-icon"></i>
    <i class="fa fa-mail-forward sweetspot-icon"></i>
  </a>
</li>
{{/if}}
