<div class="accordion-heading convert-options">
    {{#each meta.fields}}
        {{field ../this model=../this.model}}
    {{/each}}
    <span class="transfer-activities-label">{{str 'LBL_CONVERT_MOVE_ACTIVITIES_TO_CONTACT' module}}</span>
</div>
