<input type="hidden" class="select2 search-filter" data-placeholder='{{str labelDropdownTitle}}'>
<div class="choice-filter">
    <span class="choice-filter-label" tabindex="0" role="button" aria-label="{{str 'LBL_FILTER_CREATE_FILTER'}}"></span>
    <span class="choice-filter-close" tabindex="0" role="button" aria-label="{{str 'LBL_FILTER_CLOSE_FILTER'}}"><i class="fa fa-times-circle"></i></span>
</div>
