<div class="{{#if icon}}select2-icon-prepend{{else}}select2-no-icon{{/if}}" data-id="{{id}}">
    <span class="select2-match"></span>
    {{#if icon}}<i class="fa {{icon}}"></i>{{/if}}
    {{text}}
</div>
