<div class="input-append jdatetime">
    <div class="date-wrapper">
        <input type="text" data-type="jdatetime" name="{{name}}" value="{{value}}" placeholder="{{fieldPlaceholder}}"/>
        <span class="add-on"><i class="far fa-calendar"></i></span>
    </div>
</div>