<div class="search-filter">
    <div class="control-group">
        <div class="filter controls">
            <div class="filter-view search">
                <div class="table-cell">
                    <input type="hidden" class="select2 search-filter" data-placeholder="{{str "LBL_MODULE"}}">
                    <div class="choice-filter"><span class="choice-filter-label"></span></div>
                </div>
                <div class="table-cell full-width">
                    <input type="text" size=" " class="search-name" placeholder="{{str "LBL_BASIC_SEARCH"}}&hellip;">
                </div>
            </div>
        </div>
    </div>
</div>
